.paleta{
    color: #741a1a;
    color: #162735;
    color: #e4e4e4;
    color: #fff4be;
    color: #804848;
}

@keyframes slide{
    0% {}
    50% {}
    100% {}
}

html {
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #fff4be;
    background-image: linear-gradient(to right, #741a1a, #162735);
}

main.area-aluno {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-self: stretch;
    flex-grow: 1;
}

main.area-aluno section.minhas-aulas {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    align-self: stretch;
}

main.area-aluno section.minhas-aulas .aulas {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: center;
}

main.area-aluno section.minhas-aulas .aulas table {
    border: 1px solid black;
    border-radius: 2rem;
    width: 40%;
    background-color: #fff9da;
    padding: 1rem;
}

main.area-aluno section.minhas-aulas .aulas table th,
main.area-aluno section.minhas-aulas .aulas table td {
    border: .1rem solid black;
    padding: 1rem;
    font-size: 1.2rem;
}

.menu {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    max-width: 5rem;
}

.menu input{
    display: none;
}

.menu .check:hover{
    cursor: pointer;
}

.menu h1{
    padding: 0;
    margin: 0 1rem;
    
}

.menu h1 a {
    text-decoration: none;
    color: #fff4be;
}

.log .btn-login{
    display: none;
}

.sidebar {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #fff4be;
    max-width: 15rem;
    max-height: 100%;
    padding: 1rem;
    background: #741a1a;
    align-self: stretch;
}

#check:checked ~ .sidebar{
    animation: slide 1s;
    left: -50rem;
}

.sidebar img{
    width: 50%;
    border-radius: 50%;
    border: .5rem solid #fff4be;
}

.sidebar a{
    text-decoration: none;
    color: #fff4be;
}

.sidebar li{
    margin-left: -1.2rem;
    padding: 1rem;
}

.sidebar li:hover{
    z-index: 1;
    background-image: linear-gradient(to right, #fff4be, #fff4be00);
    color: #741a1a;
    border-radius: 5rem 0 0 5rem;

    transition: 
        background-image .8s,
        color .8s;
}

.user-info{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.sidebar a i{
    margin-right: .5rem;
}

.sidebar a li{
    list-style: none;
}

.separador{
    width: 12rem;
    height: .1rem;
    background-color: #fff4be3b;
}

.log a{
    text-decoration: none;
    color: #fff4be;
}
.content{
    background: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
