main{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(to right, rgb(17, 54, 71), rgb(116, 26, 26), rgb(17, 54, 71));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.cadastro-aluno{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #113647;
  background-color: #fff9da;
  padding: 2rem;
  margin: 2rem;
  border-radius: 2rem;
  flex-direction: column;
}
.card-cadastro{
  width: 80%;
  background-color:linear-gradient(to right, #db142f, #113647);
  padding: 20px;
  border-radius: 1px;
}
.card header{
  padding-bottom: 50px;

}

h1{
  color: #fff4be;
  font-size: 3rem;
}

p{
  margin-top: -.8rem;
  color: #fff4be;
  font-size: 1.5rem;
  text-align: center;
}

.card-content-cadastro label{
font-size: 20px;
cursor: pointer;
}

.card-content-area{
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}
.card-content-cadastro input{
  margin-top: 10px;
  font-size: 1rem;
  padding: 0 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #db142e86;
  outline: none;
  color: #113647;

}
 

.card-footer{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.card-footer .recuperar-senha{
  border: none;
  outline: none;
  color: white;
  text-decoration: none;

}

.card-footer a{
  text-decoration: none;
  text-align: center;
  color: #db142f;
}

button{
  color: #113647;
  font-size: 1rem;
  background-color: #fff9da;
  border: 2px solid #113647;
  border-radius: 1rem;
  padding: .8rem;
  cursor: pointer;
}
button:hover{
  color: #fff4be;
  font-size: 1rem;
  background-color: #113647;
  border: 2px solid #113647;
  border-radius: 1rem;
  padding: .8rem;

  transition: all .5s;
}

/* Footer */


footer.footer{
 height: 100%;
  background: linear-gradient(to right, rgb(116, 26, 26), rgb(17, 54, 71));
  position:relative;
}

footer.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem 0.9rem;
}

footer h2{
  display: flex;
  flex-flow: row;
  color: white;
}

.footer p{
  font-size: 15px;
  color: aliceblue;
}

.footer .sobre-nos{
  margin-left: 30px;
}

.sobre-nos p{
  text-align: justify;
}

.contato{
  margin-left: 45px;
}

.contato i{
  height: 10px;
  width: 10px;
 margin-right: 12px;
  color: white;
}

.contato a{
  text-decoration: none;
  color: white;
}

.newsletter h6{
  color: white;
  padding: auto;
  margin-bottom: 10px;
}

.newsletter .newsletter-email{
  border-radius: 10px;
  background-color: white;
  padding: 5px 15px;
  
}

.newsletter .newsletter-button{
  border-radius: 10px;
  padding: 5px 15px;
}



.redes-sociais .fa-facebook-f{
  height: 35px;
  width: 35px;
  font-size: 30px;
  line-height: 40px;
  margin: 0px 2px 0;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.redes-sociais .fa-facebook-f:hover{
  color: rgb(116, 26, 26);
  transform: translateY(-9px);
}

.redes-sociais .fa-instagram{
  height: 35px;
  width: 35px;
  font-size: 30px;
  line-height: 40px;
  margin: 0px 2px 0;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.redes-sociais .fa-instagram:hover{
  color: rgb(116, 26, 26);
  transform: translateY(-9px);
}

.redes-sociais .fa-youtube{
  height: 35px;
  width: 35px;
  font-size: 30px;
  line-height: 40px;
  margin: 0px 2px 0;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.redes-sociais .fa-youtube:hover{
  color: rgb(116, 26, 26);
  transform: translateY(-9px);
}

.redes-sociais .fa-tiktok{
  height: 35px;
  width: 35px;
  font-size: 30px;
  line-height: 40px;
  margin: 0px 2px 0;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.redes-sociais .fa-tiktok:hover{
  color: rgb(116, 26, 26);
  transform: translateY(-9px);
}

.redes-sociais .fa-spotify{
  height: 35px;
  width: 35px;
  font-size: 30px;
  line-height: 40px;
  margin: 0px 2px 0;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.redes-sociais .fa-spotify:hover{
  color: rgb(116, 26, 26);
  transform: translateY(-9px);
}

.texto-copy{
  color: white;
  text-align: center;
  padding: 3rem;
}

@media all and (min-width: 768px) {
  

  body > header {
    justify-content: space-between;;
  }



  body > header nav a {
    font-size: 1rem;
  }


  button.reset {
    margin-top: -.5rem;
    border: none;
    padding: 0.5rem;
  }

  button.submit:hover {
    background-color: rgb(116, 26, 26)
  }
  
  button.reset:hover {
    background-color: rgb(85, 81, 81);
    color: white;
    cursor: pointer;
  }

  button.reset form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(116, 26, 26);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }

  button.reset a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, pink);
    animation: btn-anim1 1s linear infinite;
  }

  footer.footer{
   height: 100%;
    background: linear-gradient(to right, rgb(116, 26, 26), rgb(17, 54, 71));
    position:relative;
  }

  footer.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem 0.9rem;
  }

  footer >  h2{

    display: flex;
    justify-content: space-around;
    min-width: 100%;
  }

  body > footer{
      flex-flow: column nowrap;
      justify-content: center;
  }
}