<%- include('partials/headerAreaAluno') %>
    <main>
        <div class="content">
            <h1>Meu Progresso</h1>
        </div>
    </main>

    <link rel="text/javascript" href="static/javascript/main.js">
</body>
</html>

