<%- include('partials/headerAreaAluno') %>
<main>
    <div>
        <h1 id="titulo">Area do Aluno</h1>
        <p id="subtitulo">Informações de avisos e dados de suas aulas.</p>
        <br>
      </div>
    
      <section class="area-aluno">

    

      </section>
    
    </main>

    <script src="/javascript/main.js"></script>
