<%- include('partials/header') %>

<main>
    <div class="campo">
      <h1 id="titulo">Cadastro de Aluno</h1>
      <p id="subtitulo">Complete suas informações</p>
      <br>
    </div>
  <section>
    <form action="/register" method="POST" enctype="multipart/form-data">
  
    <form>
            <label for="nome"><strong>Nome</strong></label>
            <input type="text" name="nome" id="nome" placeholder="Nome completo" required>



            <label for="sobrenome"><strong>Sobrenome</strong></label>
            <input type="text" name="sobrenome" id="sobrenome" placeholder="Nome completo" required>



            <label for="dataDeNasc"><strong>Data de Nascimento</strong></label>
            <input type="text" name="dataDeNasc" id="dataDeNasc" placeholder="Digite sua data de Nascimento" required>



            <label for="altura"><strong>Altura</strong></label>
            <input type="text" name="altura" id="altura" placeholder="Digite sua altura" required>


            <label for="peso"><strong>Peso</strong></label>
            <input type="text" name="peso" id="peso" placeholder="Digite seu peso" required>




            <label for="email"><strong>Email</strong></label>
            <input type="email" name="email" id="email" placeholder="Email" required>



            <label for="telefone"><strong>Telefone</strong></label>
            <input type="tel" name="tel" id="tel" placeholder="(xx)0000-0000" required>


            <label for="senha"><strong>Senha</strong></label>
            <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>

            <label for="confirmarSenha"><strong>Confirme a senha</strong></label>
            <input type="password" name="confirmarSenha" id="confirmarSenha" placeholder="Confirme sua senha" required>



        <fieldset class="grupo">
          <div id="check">
            <label><strong>Selecione as modalidades de seu interesse:</strong></label><br><br>
            <input type="checkbox" id="musculacao" name="availability" value="musculacao">
            <label for="musculacao"> Musculação</label>
            <input type="checkbox" id="luta" name="luta" value="luta">
            <label for="luta"> Luta</label>
            <input type="checkbox" id="yoga" name="yoga" value="yoga">
            <label for="yoga"> Yoga</label>
            <input type="checkbox" id="spinning" name="spinning" value="spinning">
            <label for="spinning"> Spinning</label>
          </div>
        </fieldset>

          <div class="campo">
        <br>

          <div class="alignment">
          <div class="cadastrar">
          <button class="botao" type="submit" onsubmit="">Cadastrar</button>
          </div>

          <div>
          <button class="reset" type="reset">Limpar</button>
          </div> 


          <label for="foto">Escolha uma foto para o seu perfil</label>
          <input type="file" id="foto" name="foto"  multiple>

    
    </form>

    </main>

  </body>

</html>
    <%- include('partials/footer') %>