<%- include('partials/header') %>
  <div>
    <h1 id="titulo">Cadastro de Aluno</h1>
    <p id="subtitulo">Complete suas informações</p>
    <br>
  </div>

  <section class="cadastro-aluno">
    <% if (erros) { %>
      <ul class="erros">
        <% erros.forEach(erro=> { %>
          <li>
            <%= erro.msg %>
          </li>
          <% }) %>
      </ul>
      <% } %>

        <form class="card-cadastro" enctype="multipart/form-data" action="/alunos/cadastro" method="POST">
          <div class="card-content-cadastro">
            <div class="card-content-area">
              <label for="nome">Nome</label>
              <input type="text" name="nome" autocomplete="off" placeholder="nome">
            </div>

            <div class="card-content-area">
              <label for="sobrenome">sobrenome</label>
              <input type="text" name="sobrenome" autocomplete="off" placeholder="sobrenome">
            </div>

            <div class="card-content-area">
              <label for="dataNasc">Data de nascimento</label>
              <input type="date" name="dataNasc" name="dataNasc" autocomplete="off" placeholder="dataNasc">
            </div>

            <div class="card-content-area">
              <label for="altura">Altura</label>
              <input type="number" name="altura" autocomplete="off" placeholder="altura">
            </div>

            <div class="card-content-area">
              <label for="peso">Peso</label>
              <input type="text" name="peso" autocomplete="off" placeholder="peso">
            </div>

            <div class="card-content-area">
              <label for="email">Email</label>
              <input type="email" name="email" autocomplete="off" placeholder="email">
            </div>

            <div class="card-content-area">
              <label for="telefone">telefone</label>
              <input type="text" name="telefone" autocomplete="off" placeholder="telefone">
            </div>

            <div class="card-content-area">
              <label for="senha">Senha</label>
              <input type="password" name="senha" autocomplete="off" placeholder="senha">
            </div>

            <div class="card-content-area">
              <label for="confirmarSenha">Confirme sua Senha</label>
              <input type="password" name="confirmarSenha" autocomplete="off" placeholder="Confirme sua Senha">
            </div>

            <input type="file" id="arquivo" name="arquivo" value="arquivo">
            <label for="arquivo"> Insira imagem desejada.</label>
          </div>

          <div class="card-footer">
            <button type="submit" class="submit">Cadastrar</button>
          </div>

          <div class="card-footer">
            <a href="/login" class="submit">Voltar</button>
          </div>
        </form>
  </section>

  <%- include('partials/footer') %>