<%- include('partials/header') %>

  <main>
    <section class="section1">
      <div class="content">
        <div class="slides">

          <div class="slide s1">
            <img src="images/imagem1.jpg" alt="personal trainer" />
          </div>

          <div class="slide">
            <img src="images/imagem2.jpg" alt="musculação" />
          </div>

          <div class="slide">
            <img src="images/imagem3.jpg" alt="fortalecimento muscular em casal" />
          </div>

          <div class="slide">
            <img src="images/imagem4.jpg" alt="musculação para mulheres" />
          </div>

          <div class="slide">
            <img src="images/imagem1.jpg" alt="personal trainer" />
          </div>

        </div>
    </section>


    <section id="section-servicos" class="servicos">

      <h2>Serviços</h2>
      <div class="container-servicos">

        <div class="box">
          <img class="imagens" src="images/imagem1.jpg" alt="Acompanhamento">
          <h3>Acompanhamento</h3>
          <p>Com o nosso sistema você consegue acompanhar sua evolução</p>
          <button class="botao"> <a href="#">Ver mais</a></button>
        </div>

        <div class="box">
          <img class="imagens" src="images/imagem2.jpg" alt="Equipamento">
          <h3>Equipamentos</h3>
          <p>Gerenciamento do estado dos equipamentos para melhor eficiência</p>
          <button class="botao"> <a href="#">Ver mais</a></button>
        </div>

        <div class="box">
          <img class="imagens" src="images/imagem3.jpg" alt="Inteligencia">
          <h3>Inteligencia</h3>
          <p>Gerenciamos de modo inteligente para poupar seu esforço</p>
          <button class="botao"> <a href="#">Ver mais</a></button>
        </div>


        <div class="box">
          <img src="images/imagem4.jpg" width="200px" alt="Conexão">
          <h3>Conexão</h3>
          <p>Todos conectados em um mesmo lugar e compartilhando tudo!</p>
          <button class="botao"> <a href="#">Ver mais</a></button>
        </div>
      </div>
    </section>

  </main>


  <%- include('partials/footer') %>