<%- include('partials/header') %>

    <body>
        <h1>Mohavi</h1>
        <p>Seja Bem Vindo(a), Acesse sua conta!</p>
        <section class="login">

            <% if (erros) { %>
                <ul class="erros">
                  <% erros.forEach(erro=> { %>
                    <li>
                      <%= erro.msg %>
                    </li>
                    <% }) %>
                </ul>
                <% } else if(sucess) { %>
                  <ul class="erros">
                    <% sucess.forEach(sucess=> { %>
                      <li>
                        <%= sucess.msg %>
                      </li>
                      <% }) %>
                  </ul>
                  <% } %>
            
            <form action="/alunos/login" method="POST" class="card">

                <div class="card-content">
                    <div class="card-content-area">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email"  placeholder="Email" required>
                    </div>

                    <div class="card-content-area">
                        <label for="senha">Senha</label>
                        <input name="senha" type="password" id="senha"  placeholder="Senha" required>
                    </div>
                </div>

                <div class="card-footer">
                     <button type="submit" class="submit">Entrar</button>
                </div>

                <div class="card-footer">
                    <a href="/alunos/cadastro"> Cadastrar Aluno</a>            
               </div>

                <div class="card-footer">
                
                <a href="#" class="recupera-senha">Esqueci a senha</a>
                </div>

            </form>
        </section>
       
    </body>

    <%- include('partials/footer') %>
