<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/b00efd4dc1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/home.css" />
  <link rel="stylesheet" href="/stylesheets/animation.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="stylesheet" href="/stylesheets/cadastro-aluno.css">

  <title>Mohavi | Home</title>
</head>

<body>
  <header>
   <div class="container">
    

    <nav>
      <img src="/images/logo-transparent.png" alt="">
      <ul>
        <li><a href="/">HOME </a></li>
        <li><a href="/area-aluno">ÁREA DO ALUNO </a></li>
        <li><a href="/aulas">AULAS </a></li>


        <li><a href="#footer">CONTATO</a></li>
        <li><a href="/login">LOGIN</a></li>
      </ul>
    </nav>
  </div>
  </header>