<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="stylesheets/areaAluno.css">
    <title>Área do aluno</title>
</head>
<body>
    <header>
        <div class="menu">
            <input type="checkbox" name="check" id="check">
            <label for="check"><i class='bx bx-menu-alt-left bx-md check'></i></label>

            <div class="sidebar active">
                <div class="user-info">
                    <img src="/images/foto-perfil.jpg" alt="Foto-Perfil">
                    <h3>Malwan Smith</h3>
                </div>
                <div class="separador"></div>
                <nav>
                    <ul>
                        <a href="#"><li><i class='bx bx-calendar' ></i>Agenda</li></a>
                        <a href="#"><li><i class='bx bx-chart' ></i>Progresso</li></a>
                        <a href="#"><li><i class='bx bx-wallet' ></i>Pagamentos</li></a>
                        <a href="../cadastroAluno/cadastro"><li><i class='bx bx-wallet' ></i>Cadastro</li></a>
                        <a href="#"><li><i class='bx bx-user-voice' ></i>Indicar Amigo</li></a>
                    </ul>
                </nav>
            </div>



            <h1>{Mohave</h1>

        </div>

        <div class="log">
            <a href=""><i class='bx bx-log-in-circle bx-md btn-login' alt="Entrar"></i></a>
            <a href=""><i class='bx bx-log-out-circle bx-md' alt="Sair"></i></a>
        </div>
    </header>